<!DOCTYPE html>
<html lang="es-BO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="icon" href="/public/img/favicon.ico">
    <title> Dotcom - <%= title  %> </title>
</head>
<body>
    <%- include('nav'); %>

    <% if (locals.message) { %>
        <div id="message">
            <div class="msg-content">
                <button id="close-msg">X</button>
                <h3> <%= message %> </h3>
            </div>
        </div>
    <% } %>
    <main class="page-text">