<!DOCTYPE html>
<html lang="es-BO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="icon" href="/public/img/favicon.ico">
    <title> Dotcom - <%= title  %> </title>
</head>
<body>
    <%- include('nav'); %>

    <div id="message-modal" class="box-fx custom-modal hide">
        <div class="custom-modal-header">
            <h3 class="custom-modal-title">&#x1F6C8 Información</h3>
            <div class="custom-modal-btn modal-action-button" data-action="close-modal">&#x2A09</div>
        </div>
    
        <div class="custom-modal-content">
            
        </div>
    </div>

    <% if (locals.message) { %>
        <div id="message">
            <div class="msg-content">
                <button id="close-msg">X</button>
                <h3> <%= message %> </h3>
            </div>
        </div>
    <% } %>
    <main class="page-text">