<nav>
    <div class="nav-header page-text">
        <a href="/" class="page-text no-deco logo">Dotcom</a>
        <p id="time">Hora actual</p>
    </div>

    <ul class="nav-bar">
      <li class="nav-item">
            <div class="nav-button">
                <img src="/public/img/empty.png" alt="usuario" width="25" height="25" class="icons">
                <p class="nav-text">Usuario</p>
                <div class="nav-menu flex-column hide">
                    <% if(! locals.logged) {%>
                        <a href="/login" class="nav-link no-deco">Iniciar Sesión</a>
                    <% } else { %>
                        <a href="/logout" class="nav-link no-deco">Cerrar Sesión</a>
                    <% } %>
                </div>
            </div>
      </li>
      <li class="nav-item">
            <div class="nav-button">
                <img src="/public/img/empty.png" alt="adacemico" width="25" height="25" class="icons" style="--posX:-1">
                <p class="nav-text">Academico</p>
                <div class="nav-menu flex-column hide">
                    <a href="/search" class="nav-link no-deco">Buscar ambiente disponible</a>
                    <% if(locals.logged) {%>
                        <a href="/booking" class="nav-link no-deco">Reservar ambiente</a>
                    <% } %>
                </div>
            </div>
      </li>
      <li class="nav-item">
            <div class="nav-button">
                <img src="/public/img/empty.png" alt="administrativo" width="25" height="25" class="icons" style="--posX:-2">
                <p class="nav-text">Administrativo</p>
                <div class="nav-menu flex-column hide">
                    <% if(locals.logged && locals.userData.grupo === 1) {%>
                        <a href="/ambients" class="nav-link no-deco">Ambientes</a>
                        <a href="/bookings" class="nav-link no-deco">Reservas</a>                        
                    <% } else {%>
                        <p>Sin acceso.</p>
                    <% } %>
                </div>
            </div>
      </li>
      <li class="nav-item">
            <div class="nav-button">
                <img src="/public/img/empty.png" alt="opciones" width="25" height="25" class="icons" style="--posX:-3">
                <p class="nav-text">Opciones</p>
                <div class="nav-menu flex-column hide">
                    <p>Funciones adicionales proximamente</p>
                </div>
            </div>
      </li>
    </ul>
  </nav>