input, textarea, select {
    padding: 5px;
    border : 1px solid;
    border-radius: 5px;
}

select:focus {
    background-color: gray;
}

fieldset {
    display:flex ;
    flex-direction: column;
    width: 100%;
}