/*
body {
    background-color: rgb(117, 197, 135);
}
*/
h1{
    text-align: center;
    text-decoration:underline;
}

form {
   margin: 0 auto; 
   width: 300px;   
  
   padding: 7px;
   border-radius: 10px;
}

input, textarea, select {
    padding: 5px;
    border : 1px solid;
    border-radius: 5px;
}

.boton {
    width: 40%;
    margin-left: 30%;
    background-color: rgb(96, 160, 219);
    border-radius: 10px;
}
fieldset{
    display:flex ;
    flex-direction: column;
}