:root {
  --metallicSilver: #BCC6CC;
  --metallicBlue: #4F738E;
  --metallicBlack: #2C2C2B;
  --metallicWhite: #FBFCF6;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body{
  background-color: aqua;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/*Contenido 1/2 */
.mainWindow {
  width: 100%;
  overflow-y: scroll;
  background-image: linear-gradient(to bottom, #303030, var(--metallicBlack));
}

.informationBar {
  width: 100%;
  border-bottom: 1px solid var(--metallicBlue);
  font-size: 1.2rem;
  background-color:  #111111;
}

.informationBar::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  display: block;
  padding: 0.2rem;
  text-decoration: none;
  float: left;
}

.logo::first-letter {
  color: var(--metallicBlue);
}

.logo, #time {
  color: var(--metallicWhite);
}

#time {
  float: right;
  font-size: 0.55rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

/*Donde se mostrara todo - Mantener el alto*/
.content {
  height: 100vh;
  max-height: 100%;
}


.textContent{
  font-size: 500%;
  color: var(--metallicSilver);
  margin: 0.1rem 0.8rem;
  border: 2px solid transparent;
  border-radius: 25px;
  text-align: center;
}

/*Barra Navegacion 2/2 */
.navigationBar {
  width: 100%;
  background-color: #BCC6CC;
}

.navigationList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

.navigationItem {
  overflow: hidden;
  margin: 2px 5px;
  border-width: 1px;
  border-color: #a9b2b8;
  border-style: inset outset outset inset;
  background-color: #b1b9be;
  border-radius: 10px;
  width: 25%;
}

.navigationLink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 20px;
}

.navigationLink:link,
.navigationLink:visited,
.navigationLink:hover,
.navigationLink:active {
  color:inherit;
  font-size: 0.65rem;
}

.navigationImage {
  display: block;
}

.activeNavigationItem {
  background-color: #d1dae0;
}

@media screen and (min-width:480px){
  .navigationLink {
    padding: 0 40px;
    margin: 2px 10px;
  }
  .navigationText {
    display: none;
  }
}