<%- include('partials/header'); %>

<section class="page-text">
    <ul class="flex-column no-deco">
        <li class="margin-b">
            <a href="/academico/buscarAmbientes" class="page-button center-text no-deco">Buscar Ambientes disponibles</a>
        </li>
        <li class="margin-b">
            <a href="/academico/reservarAmbientes" class="page-button center-text no-deco">Reserva de Ambientes</a>
        </li>
    </ul>
</section>

<%- include('partials/footer'); %>