<%- include('partials/header'); %>

<section class="page-text">
    <ul class="flex-column no-deco">
        <li class="margin-b">
            <a href="/academico/buscarAulas" class="page-button center-text no-deco">Buscar Aulas disponibles</a>
        </li>
        <li class="margin-b">
            <a href="/academico/reservarAulas" class="page-button center-text no-deco">Reserva de Aulas</a>
        </li>
    </ul>
</section>

<%- include('partials/footer'); %>