<%- include('partials/header'); %>

<section class="page-text">
    <ul class="flex-row flex-space no-deco ">
        <li><a href="/administrativo/agregarAulas" class="page-button no-deco margin-b">Agregar Aulas</a></li>
        <!-- <li><a href="/administrativo/buscarAulas" class="page-button no-deco ">Buscar Aulas</a></li> -->
    </ul>
</section>

<section class="flex-column align-center page-text box-fx form-width" id="database_data">
        <table>
            <tr>
                <th>Aula</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Docente</th>
                <th>Soicitud</th>
                
            </tr>
        </table>
</section>

<%- include('partials/footer'); %>