<%- include('partials/header'); %>

<section class="flex-column align-center page-text">
    <div class="box-fx form-width">
        <h3 class="center-text margin-b">Agregar Ambiente por Lotes</h3>
        <form action="/subirCSV" method="POST" class="flex-column">
            <div class="margin-b center-text">
                <h4 class="margin-b">Archivo CSV:</h4>
                <input type="file" name="csv" id="archivocsv" accept=".csv">
            </div>
            <input class="page-button" type="submit" value="Subir"> 
        </form>
    </div>
</section>

<%- include('partials/footer'); %>