<%- include('partials/header'); %>

    <section>
        <p>Bienvenido</p>
        <br>
        <p>Dirigase a la sección academico para consultar aulas disponibles.</p>
        <br>
        <p>Debera identificarse para realizar cualquier otra operación.*</p>
    </section>

<%- include('partials/footer'); %>