<%- include('partials/header'); %>

<div class="page-text">
    <p>Bienvenido</p>
    <br>
    <p>Dirigase a la sección academico para consultar aulas disponibles.</p>
    <br>
    <p>Debera identificarse para realizar cualquier otra operación.*</p>
</div>

<%- include('partials/footer'); %>