<%- include('partials/header'); %>

<section class="flex-column align-center page-text">
    <div class="box-fx form-width">
        <h3 class="center-text margin-b">Reserva de Aula</h3>
        <form action="/reservarAulas" method="POST" class="flex-column">
            <div class="innerFlex">
                <div class="margin-b margin-r">
                    <p>Fecha:</p>
                    <input type="date" name="fecha" class="input-field" required>
                </div>
    
                <div class="margin-b margin-r">
                    <p>Aula:</p>
                    <select name="nombre" class="input-field" required>                        
                        <option  value="" selected disabled hidden>Seleccion</option>
                        <option  value="691A">691A</option>
                        <option  value="691B">691B</option>
                        <option  value="691C">691C</option>
                        <option  value="691D">691D</option>
                    </select>
                </div>
                        
                <div class="margin-b margin-r">
                    <p>Horario:</p>
                    <select name="horario" class="input-field" required>                        
                        <option  value="" selected disabled hidden>Seleccion</option>
                        <option  value="hora1">06:45</option>
                        <option  value="hora2">07:30</option>
                        <option  value="hora3">08:15</option>
                        <option  value="hora4">09:00</option>
                        <option  value="hora5">10:30</option>
                        <option  value="hora6">07:30</option>
                        <option  value="hora7">08:15</option>
                        <option  value="hora8">09:00</option>
                        <option  value="hora9">09:45</option>
                        <option  value="hora10">10:30</option>
                        <option  value="hora11">11:15</option>
                        <option  value="hora12">12:00</option>
                        <option  value="hora13">12:45</option>
                        <option  value="hora14">13:30</option>
                        <option  value="hora15">14:15</option>
                        <option  value="hora16">15:00</option>
                        <option  value="hora17">15:45</option>
                        <option  value="hora18">16:30</option>
                        <option  value="hora19">17:15</option>
                        <option  value="hora20">18:00</option>
                        <option  value="hora21">18:45</option>
                        <option  value="hora22">19:30</option>
                        <option  value="hora23">20:15</option>
                        <option  value="hora24">21:00</option>
                        <option  value="hora25">21:45</option>
                    </select>
                </div>
        
                <div class="margin-b margin-r">
                    <p>Cantidad de periodos:</p>
                    <select name="Periodo" class="input-field" required>                        
                        <option  value="" selected disabled hidden>Seleccion</option>
                        <option  value="hora1">1</option>
                        <option  value="691B">2</option>
                        <option  value="691C">3</option>
                        <option  value="691D">4</option>
                    </select>
                </div>

            </div>
                  
            <div>
                <p>Comentarios:</p>
                <textarea rows="8" name="comentario" class="input-field"> </textarea>
            </div>        
                    
            <input type="submit" name="" id="" value="Reservar" class="page-button margin-t">
        </form>
    </div>
</section>

<%- include('partials/footer'); %>