<%- include('partials/header'); %>

<section class="flex-column align-center page-text">
    <form action="/login" method="POST" class="flex-column form-width  box-fx">
        <h3 class="center-text margin-b">Inicio de Sesion</h3>
        <input type="text" name="user" placeholder="Usuario" class="form-item login-input margin-b" required>
        <input type="password" name="pass" placeholder="Contraseña" class="form-item login-input margin-b" required> 
        <label>
            <input type="checkbox" name="recordUser" id="recordUser" > Recordarme
        </label>                                
        <input type="submit" value="Ingresar" class="page-button margin-t">
    </form>
</section>

<%- include('partials/footer'); %>