:root {
    --background-color: #2C2C2B;              /* Metallic Back */
    --text-color: #FBFCF6;                         /* Metallic White */
    --button-bg-color: #5b5b5b;
    --nav-header-bg-color: #111111;
    --nav-background-color: #DCDCDC;
    --nav-button-color: #DCDCDC;
    --nav-active: #b2babf;
    --secondary-bg: #3d424a;

    --metallicSilver: #BCC6CC;
    --metallicBlue: #4F738E;
    --metallicWhite: #FBFCF6;
    --metallicBlack: #2C2C2B;
    --metallicBlackL: #343536;
    --lightDark: #3b3d3f;

    --sprites: url("../img/iconos.png");
    --spriteW: 400px;
    --spriteH: 50px;
    --iconW: 50px;
    --iconH: 50px;
    --scale: 2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body{
    background-color: var(--background-color);
    position: relative;
}

/* /////////////////////////////////////// Navigation /////////////////////////////////////// */

.nav-header {
    width: 100%;
    border-bottom: 1px solid var(--metallicBlue);
    background-color:  var(--nav-header-bg-color);
    font-size: 1.1rem;
}

.nav-header::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    padding: 0.2rem;
    float: left;
}

.logo::first-letter {
    color: var(--metallicBlue);
}

#time {
    float: right;
    font-size: 0.55rem;
    margin-right: 0.5rem;
    padding: 2px;
    margin-top: 1rem;
}

.nav-bar {
    width: 100%;
    background-color: var(--nav-background-color);
    list-style: none;
    display: flex;
    flex-direction: row;
}
  
.nav-item {
   /*  overflow: hidden; */
    margin: 2px;
    background-color: var(--nav-button-color);    
    width: 25%;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--nav-button-color);
    border-width: 1px;
    border-color: #a9b2b8;
    border-style: inset outset outset inset;
    border-radius: 10px;
    font-size: 0.65rem;
    user-select: none;
}

.nav-menu {
    z-index: 2;
    position: absolute;
    background-color: var(--nav-button-color);
    width: 100%;
    top: calc(100% + 3px);
    border: 1px solid #a9b2b8;
}

.nav-menu > * {
    border-bottom: 1px solid #a9b2b8;
}

.nav-menu:last-child {
    border-bottom: none;
}
  
.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
    color:inherit;
    font-size: 0.65rem;
    padding: 0.5rem 0.25rem;
    text-align: center;
}
  
.icons {
    --posX: 0;
    --posY: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: var(--sprites);
    width: calc( var(--iconW) / var(--scale) );
    height: calc( var(--iconH) / var(--scale) );
    background-position: calc( var(--posX)/var(--scale) * var(--iconW) ) 
                                    calc( var(--posY)/var(--scale) * var(--iconH) );
    background-size: calc( var(--spriteW)/var(--scale) )
                                calc( var(--spriteH)/var(--scale) );
}

.nav-active {
    background-color: var(--nav-active);
}

/* ///////////////////////////////// General ///////////////////////////////////// */
main {
    padding: 10px 4px;
}

.page-button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 8px;
    padding: 14px;
    display: block;
    border: 1px solid var(--metallicBlack);
    min-width: 7rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-gap {
    gap: 1rem;
}

.flex-gap-s {
    gap: 0.125rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.innerFlex {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.center-text {
    text-align: center;
}

.page-text {
    color: var(--text-color);
    font-size: 100%;
}

.select-none {
    user-select: none;
}

.even-w-2 {
    width: 50%;
}

.no-deco {
    text-decoration: none;
    list-style: none;
}

.no-deco:link,
.no-deco:visited,
.no-deco:hover,
.no-deco:active {
    color:inherit;
}

.box-fx {
    border: 2px solid var(--metallicBlack);
    border-radius: 20px;
    background-color: var(--secondary-bg);
    padding: 1.5rem 1.25rem;
    box-sizing: border-box;
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}

.h100{
    height: 100%;
}

.scroll-box {
    overflow: auto;
}

.margin-t {
    margin-top: 1rem;
}

.margin-b {
    margin-bottom: 1rem;
}

.margin-l {
    margin-left: 1rem;
}

.margin-r {
    margin-right: 0;
}

.separator {
    padding: 20px 0;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    background-color: var(--metallicBlackL);
    border-radius: 15px;
}

.msg-content {
    position: relative;
    padding: 40px;
}

#close-msg{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 5px;
    border-radius: 4px;
}

.hide {
    display: none;
}

.edit-buttons {
    --elem: 2;
    --elemW: 25px;
    --g: 2px;
    display: flex;
    flex-direction: row;
    gap: var(--g);
    width: calc(var(--elem) * var(--elemW) + var(--g));
    margin: auto;
}

.edit-button {
    width: 25px;
    height: 25px;
    background-color: var(--metallicWhite);
    border-radius: 5px;
}

.edit-button:hover {
    cursor: pointer;
    opacity: 0.9;
}
.page-control{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 290px;
    padding: 5px 0;
    margin: auto;
}
.page-control > div input:last-child {
    padding: 0 2px;
}
/*////////////////////////////////////// Login //////////////////////////////////////*/

#login-form input::-ms-reveal{
    display: none;
}
#login-form label {
    user-select: none;
}
#password-field{
    display: flex;
    border-bottom: 1px solid white;
}
#password-field input{
    border: none;
}
#reveal-pass-btn{
    right: 0;
    top: -50%;
    border-radius: 8px;
    background-color: inherit;
    padding: 0 2px;
    font-size: larger;
    cursor: pointer;
    opacity: 0.5;
}
.revealed {
    opacity: 1 !important;
}
.login-error{
    color:red;
}
/*////////////////////////////////// Forms ///////////////////////////////////////////*/
.login-input {
    width: 100%;
    background-color: transparent;
    color: var(--metallicWhite);
    border-bottom: 1px solid var(--metallicWhite);
    padding: 0 4px;
    box-sizing: border-box;
}

.login-input:focus {
    outline: 2px solid transparent;
}

.login-container {
    width: 330px;
}

.form-width {
    min-width: 250px;
    max-width: 100%;    
    max-height: 100%;
}

.input-field {
    min-width: 100px;
    width: 100%;
    border: 2px solid transparent;
    resize: none;
    border-radius: 4px;
    padding: 0 4px;
    box-sizing: border-box;
}

.input-field:focus {
    outline: 2px solid transparent;
}

#data-table {
    width: 95vw;
    overflow: hidden;
}

#data-table:nth-child(odd){
    background-color: var(--metallicBlackL);
}

.text-area-height{
    height: 6rem;
}

.ex-col {
    display: none;
}
/*////////////Tables/////////////////////*/
.data-table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    /* table-layout: fixed; */
    font-size: smaller;
}

.data-table tr:nth-child(odd){
    background-color: #4e545b;
}

.data-table th,
.data-table td {
    padding: 0.5em;
    border: 1px solid #000;
    text-align: center;
}

.data-table th {
    background: #606d80;
}
.booking-btn{
    width: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}
/*///////////Modal Dialog////////////////*/
#message-modal {
    z-index: 999;
    color: var(--metallicWhite);
    max-width: 350px;
}
.modal-open {
    overflow: hidden;
}
.custom-modal{
    position: fixed;
    z-index: 99;
    color:inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-height: 100vh;
}
.custom-modal-header{
    position: relative;
    border-bottom: 1px solid white;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}
.custom-modal-btn{
    --r: 0;
    position: absolute;
    user-select: none;
    top: 0;
    right: var(--r);
    font-weight: bolder;
    font-size: 110%;
}
.custom-modal-content{
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 2px;
    width: 100%;
    max-height: calc(100vh - 3rem - 2.2rem);
}
/*////////Page Buttons/////////////////*/
.page-button,
.nav-item,
.custom-modal-btn {
    cursor: pointer;
}

/*/////////////Responcive//////////////*/
@media screen and (min-width: 361px){
    .nav-button {
        padding: 0 40px;
        margin: 2px 10px;
    }
    .nav-text {
        display: none;  
    }
    .innerFlex {
        flex-direction: row;
    }
    .ex-col {
        display: table-cell;
    }
    .text-area-height{
        height: 3rem;
    }
    .margin-r {
        margin-right: 1rem;
    }
    .separator {
        padding: 0 20px;
    }
    .col-2 {
        width: 50%;
    }    
}

@media screen and (min-width: 601px){
    .formWrapper {
        margin: 20px;
    }
    .mainWindow {
        overflow: scroll;
    }
    .form-width {
        min-width: 500px;
    }
    .box-wide{
        max-width: 90%;
    }
}

@media screen and (min-width: 769px){
    .pageText {
        font-size: 2rem;
    }
    .logo {
        font-size: 2rem;
    }
    #time {
        font-size: 1.5rem;
    }
    .custom-modal {
        width: fit-content;
    }
    .custom-modal-content {
        max-height: none;
    }
}

@media screen and (min-width: 1024px){
  
}