:root {
    --background-color: #2C2C2B;              /* Metallic Back */
    --text-color: #FBFCF6;                         /* Metallic White */
    --button-bg-color: #5b5b5b;
    --nav-header-bg-color: #111111;
    --nav-background-color: #DCDCDC;
    --nav-button-color: #DCDCDC;
    --nav-active: #b2babf;
    --secondary-bg: #3d424a;

    --metallicSilver: #BCC6CC;
    --metallicBlue: #4F738E;
    --metallicWhite: #FBFCF6;
    --metallicBlack: #2C2C2B;
    --metallicBlackL: #343536;
    --lightDark: #3b3d3f;

    --sprites: url("../img/iconos.png");
    --spriteW: 300px;
    --spriteH: 50px;
    --iconW: 50px;
    --iconH: 50px;
    --scale: 2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body{
    background-color: var(--background-color);
    position: relative;
    /* box-sizing: border-box;
    display: flex;
    flex-direction: column; */
    
    /* width: 100vw; */
}

/* /////////////////////////////////////// Navigation /////////////////////////////////////// */

.nav-header {
    width: 100%;
    border-bottom: 1px solid var(--metallicBlue);
    background-color:  var(--nav-header-bg-color);
    font-size: 1.1rem;
}

.nav-header::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    padding: 0.2rem;
    float: left;
}

.logo::first-letter {
    color: var(--metallicBlue);
}

#time {
    float: right;
    font-size: 0.55rem;
    margin-right: 0.5rem;
    padding: 2px;
    margin-top: 1rem;
}

.nav-bar {
    width: 100%;
    background-color: var(--nav-background-color);
    list-style: none;
    display: flex;
    flex-direction: row;
}
  
.nav-item {
   /*  overflow: hidden; */
    margin: 2px;
    background-color: var(--nav-button-color);    
    width: 25%;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--nav-button-color);
    border-width: 1px;
    border-color: #a9b2b8;
    border-style: inset outset outset inset;
    border-radius: 10px;
    font-size: 0.65rem;
    user-select: none;
}

.nav-menu {
    z-index: 2;
    position: absolute;
    background-color: var(--nav-button-color);
    width: 100%;
    top: calc(100% + 3px);
    border: 1px solid #a9b2b8;
}
  
.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
    color:inherit;
    font-size: 0.65rem;
    padding: 0.5rem 0.25rem;
    text-align: center;
}
  
.icons {
    --posX: 0;
    --posY: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: var(--sprites);
    width: calc( var(--iconW) / var(--scale) );
    height: calc( var(--iconH) / var(--scale) );
    background-position: calc( var(--posX)/var(--scale) * var(--iconW) ) 
                                    calc( var(--posY)/var(--scale) * var(--iconH) );
    background-size: calc( var(--spriteW)/var(--scale) )
                                calc( var(--spriteH)/var(--scale) );
}

.nav-active {
    background-color: var(--nav-active);
}

/* ///////////////////////////////// General ///////////////////////////////////// */
main {
    padding: 10px 4px;
}

.page-button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 8px;
    padding: 14px;
    display: block;
    border: 1px solid var(--metallicBlack);
    min-width: 7rem;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-gap {
    gap: 1rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.innerFlex {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.page-text {
    color: var(--text-color);
    font-size: 100%;
}

.center-text {
    text-align: center;
}

.no-deco {
    text-decoration: none;
    list-style: none;
}

.no-deco:link,
.no-deco:visited,
.no-deco:hover,
.no-deco:active {
    color:inherit;
}

.box-fx {
    border: 2px solid var(--metallicBlack);
    border-radius: 20px;
    background-color: var(--secondary-bg);
    padding: 25px 20px;
    box-sizing: border-box;
}

.w100{
    width: 100%;
}

.margin-t {
    margin-top: 1rem;
}

.margin-b {
    margin-bottom: 1rem;
}

.margin-l {
    margin-left: 1rem;
}

.margin-r {
    margin-right: 0;
}

.separator {
    padding: 20px 0;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    background-color: var(--metallicBlackL);
    border-radius: 15px;
}

.msg-content {
    position: relative;
    padding: 40px;
}

#close-msg{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 5px;
    border-radius: 4px;
}

.hide {
    display: none;
}

/*////////////////////////////////// Forms ///////////////////////////////////////////*/
.login-input {
    width: 100%;
    background-color: transparent;
    color: var(--metallicWhite);
    border-bottom: 1px solid var(--metallicWhite);
}

.login-input:focus {
    outline: 2px solid transparent;
}

.login-container {
    width: 330px;
}

.form-width {
    min-width: 250px;
    max-width: 100%;    
    box-sizing: border-box;
}

.input-field {
    min-width: 100px;
    width: 100%;
    border: 2px solid transparent;
    resize: none;
    border-radius: 4px;
    padding: 0 4px;
    box-sizing: border-box;
}

.input-field:focus {
    outline: 2px solid transparent;
}

#data-table {
    width: 95vw;
    overflow: hidden;
}

#data-table:nth-child(odd){
    background-color: var(--metallicBlackL);
}

#edit-button {
    width: 25px;
    height: 25px;
    background-color: var(--metallicWhite);
    border: 1px solid transparent;
    border-radius: 5px;
}

#edit-button:hover {
    cursor: pointer;
}

.ex-col {
    display: none;
}

.scroll-box {
    overflow: auto;
}
/*////////////Tables/////////////////////*/
.data-table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    /* table-layout: fixed; */
    font-size: smaller;
}

.data-table tr:nth-child(odd){
    background-color: #4e545b;
}

.data-table th,
.data-table td {
    padding: 0.5em;
    border: 1px solid #000;
    /* vertical-align: top; */
}

.data-table th {
    background: #606d80;
}
/*///////////Modal Dialog////////////////*/
.modal-dialog{
    color:inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 250px;
}

/*/////////////Responcive//////////////*/
@media screen and (min-width: 361px){
    .nav-button {
        padding: 0 40px;
        margin: 2px 10px;
    }
    .nav-text {
        display: none;  
    }
    .innerFlex {
        flex-direction: row;
        align-items: baseline;
    }
    .margin-r {
        margin-right: 1rem;
    }
    .separator {
        padding: 0 20px;
    }
    .col-2 {
        width: 50%;
    }
    .ex-col {
        display: table-cell;
    }
}

@media screen and (min-width: 761px){
  .pageText {
    font-size: 2rem;
  }
  .logo {
    font-size: 2rem;
  }
  #time {
    font-size: 1.5rem;
  }
  .formWrapper {
    margin: 20px;
  }
  .mainWindow {
    overflow: scroll;
  }
}

@media screen and (min-width: 1024px){
  
}